# Auto detect text files and perform LF normalization
* text=auto
assets/protocols/*.json linguist-generated=true
assets/protocols/*.pb binary
assets/protocols/*.json.gz binary linguist-generated=true
docs/ACTIONS.md linguist-generated=true
